<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.InfiniTeam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototype">
        <activity android:name="com.example.InfiniTeam.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.InfiniTeam.Home" />
        <activity android:name="com.example.InfiniTeam.Tasks" />
        <activity android:name="com.example.InfiniTeam.CreateTask" />
        <activity android:name="com.example.InfiniTeam.Hours" />
        <activity android:name="com.example.InfiniTeam.Notices" />
        <activity android:name="com.example.InfiniTeam.SelectedNotice" />
        <activity android:name="com.example.InfiniTeam.SendNotice" />
        <activity android:name="com.example.InfiniTeam.ProductSearch3" />
        <activity android:name="com.example.InfiniTeam.Products" />
        <activity android:name="com.example.InfiniTeam.SelectedProduct" />
        <activity android:name="com.example.InfiniTeam.Stock" />
        <activity android:name="com.example.InfiniTeam.SelectedStore" />
        <activity android:name="com.example.InfiniTeam.AvailableHours" />
        <activity android:name="com.example.InfiniTeam.SelectHours" />
        <activity android:name="com.example.InfiniTeam.Profile" />
        <activity android:name="com.example.InfiniTeam.ChangePassword" />
        <activity android:name="com.example.InfiniTeam.Settings" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>